@model IEnumerable<Entities.Slider>

@{
    ViewData["Title"] = "Slider";
}

<h1>Slider</h1>

<p>
    <a class="btn btn-outline-primary " asp-area="admin" asp-controller="Sliders" asp-action="Create">Yeni Slider Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                    <img src="~/Img/@Html.DisplayFor(modelItem => item.Image)" height="50">
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-success btn-sm" asp-route-id="@item.Id">Güncelle</a> |

                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
